<!DOCTYPE html>
<html>

	<head>
		<title>上海市闸北区大宁国际学校</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="/css/amazeui.css">
		<link rel="stylesheet" href="/css/ionic.min.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>

	<body ng-app="App" ng-controller="LeaveIndexController">

		<div id="empty" ng-show="isEmpty">
	    	<div class="empty-container">
	    		<i class="icon material-icons empty-icon">&#xe14d;</i>
				<p class="empty-text">没有数据</p>
			</div>
		</div>

		<div id="loading" ng-hide="loading">
	    	<div class="sk-wandering-cubes">
				<div class="sk-cube sk-cube1"></div>
				<div class="sk-cube sk-cube2"></div>
			</div>
		</div>

		<ion-content>

			<ion-list>
				<ion-item ng-repeat="leave in leaveList" href="/leave/detail.html?id={{leave.id}}">
					<div class="am-text-truncate">{{leave.type}}</div>
					<div class="am-text-truncate" ng-class="formatApplyStateStyle(leave.applyState)">{{leave.state}}</div>
					<div class="am-text-truncate">{{leave.startTime}}</div>
					<div class="am-text-truncate">{{leave.endTime}}</div>
				</ion-item>
			</ion-list>

			<ion-infinite-scroll on-infinite="load()" ng-if="isMore">
			</ion-infinite-scroll>

		</ion-content>
	</body>

</html>

<script src="/js/lazyload.js"></script>
<script>
	LazyLoad.js(["/js/ionic.bundle.min.js", "/js/angular-cookies.js", "/js/app.js"], function () {
		var app = angular.module("App", ["ionic", "ngCookies"])
			.controller("LeaveIndexController", function($scope, $http, $timeout, $ionicLoading, $cookieStore) {
				var userId = $cookieStore.get(CookieUserId);
				var page = 1;
				var limit = 10;
				$scope.isLoad = false;
				$scope.isMore = false;
				$scope.isEmpty = false;
				$scope.leaveList = [];

				if(isApp) {
					window.location.href = "webviewplus://" + encodeURIComponent("{\"action\":\"" + ActionSetTitle + "\",\"data\":{\"text\":\"我的请假\",\"right\":\"新增\"}}");
				}

				setClickHeaderRightButton = function(payload) {
					window.location.href = "/leave/detail.html"
				}

				setBackAndRefresh = function(payload) {
					page = 1;
					$scope.isLoad = false;
					$scope.isMore = false;
					$scope.isEmpty = false;
					$scope.leaveList = [];

					$scope.load();
				}

				formatLeaveType = function(val) {
				    if (val == "SJ") {
				        return "事假";
				    } else if (val == "BJ") {
				        return "病假";
				    } else if (val == "HJ") {
				        return "婚假";
				    } else if (val == "CJ") {
				        return "产假";
				    }
				    return "";
				}

				formatApplyState = function(val, taskName) {
				    if (val == "ON") {
				        return "进行中 - " + taskName;
				    } else if (val == "OFF") {
				        return "作废";
				    } else if (val == "DONE") {
				        return "完成";
				    } else if (val == "REJECT") {
				        return "被拒绝";
				    }
				    return "";
				}

				$scope.formatApplyStateStyle = function(val) {
				    if (val == "ON") {
				        return "state-on";
				    } else if (val == "OFF") {
				        return "state-off";
				    } else if (val == "DONE") {
				        return "";
				    } else if (val == "REJECT") {
				        return "state-off";
				    }
				    return "";
				}

				$scope.load = function() {
					if ($scope.isLoad) {
						return;
					}

					$scope.isLoad = true;
					$scope.isMore = true;

					$http({
						method: "POST",
						url: "/api/leave/list",
						headers: {
							"Content-Type": "application/json;charset=utf-8"
						},
						data: {
							userId: userId,
							page: page,
							limit: limit
						}
					}).success(function(response) {
						if (response.result) {
							var list = response.data;
							for (var i = 0; i < list.length; i++) {
								var leave = list[i];

								leave.type = formatLeaveType(list[i].type);

								leave.state = formatApplyState(list[i].applyState, list[i].taskName);

								leave.startTime = leave.startTime.replaceAll("12:00:00", "");
								leave.endTime = leave.endTime.replaceAll("12:00:00", "");

								$scope.leaveList.push(leave);
							}

							if (list.length == limit) {
								$scope.isLoad = false;
								page++;
							}

							if(list.length < limit) {
								$scope.isMore = false;
							}

							if(page == 1 && list.length == 0) {
								$scope.isEmpty = true;
							}
						}

						$scope.loading = true;

	     				$scope.$broadcast("scroll.infiniteScrollComplete");
					});
				}

				getSetting = function(payload) {
					userId = payload.appUserId;

					$cookieStore.put(CookieUserId, payload.appUserId);

					$scope.load();
				}

				if(isNullOrEmpty(userId)) {
					$timeout(function(){
						window.location.href = "webviewplus://" + encodeURIComponent("{\"action\":\"" + ActionGetSetting + "\",\"data\":{}}");
				    }, 1);
				} else {
					$scope.load();
				}
			});
	});
</script>