<!DOCTYPE html>
<html>

	<head>
		<title>上海市闸北区大宁国际学校</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="/css/amazeui.css">
		<link rel="stylesheet" href="/css/ionic.min.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>

	<body ng-app="App" ng-controller="LeaveDetailController" class="background-color-2">
		<div id="loading" ng-hide="loading">
	    	<div class="sk-wandering-cubes">
				<div class="sk-cube sk-cube1"></div>
				<div class="sk-cube sk-cube2"></div>
			</div>
		</div>

		<ion-content>
			<ion-list>
				<div class="am-g am-margin-top-sm">
					<ion-item>
	    				请假类型
	    				<span class="item-note">{{leave.type}}</span>
					</ion-item>
				</div>

				<div class="am-g am-margin-top-sm">
					<ion-item>
						开始时间
	    				<span class="item-note">{{leave.startTime}}</span>
					</ion-item>
					<ion-item>
						结束时间
	    				<span class="item-note">{{leave.endTime}}</span>
					</ion-item>
				</div>

				<div class="am-g am-margin-top-sm">
					<ion-item>
						请假理由
						<div class="am-margin-top-sm item-note-font" ng-bind-html="leave.content | trustHtml"></div>
					</ion-item>
				</div>
			</ion-list>
		</ion-content>

		<div class="bar bar-footer bar-light">
			<button type="button" class="am-btn am-btn-xs am-btn-primary am-btn-block" ng-click="openReview();">审核</button>
		</div>

		<script id="task_review.html" type="text/ng-template">
			<ion-radio ng-model="task.result" value="YES">同意</ion-radio>
			<ion-radio ng-model="task.result" value="NO">驳回</ion-radio>
			<button class="button button-full button-positive" ng-click="submitForm();">提交</button>
		</script>
	</body>

</html>

<script src="/js/lazyload.js"></script>
<script>
	LazyLoad.js(["/js/ionic.bundle.min.js", "/js/angular-cookies.js", "/js/app.js"], function () {
		var processInstanceId = "";

		/*Jockey.on(EventClickHeaderRightButton + "-" + urlString, function(payload) {
			if(processInstanceId != "") {
				window.location.href = "/workflow/image.html?processInstanceId=" + processInstanceId;
			}
		});*/

		var app = angular.module("App", ["ionic", "ngCookies"])
			.controller("LeaveDetailController", function($scope, $http, $timeout, $ionicLoading, $ionicPopup, $cookieStore) {
				$scope.task = {};
				$scope.task.result = "";

				if(isApp) {
					window.location.href = "webviewplus://" + encodeURIComponent("{\"action\":\"" + ActionSetTitle + "\",\"data\":{\"text\":\"审核请假\",\"right\":\"流程图\"}}");
				}

				setClickHeaderRightButton = function(payload) {
					window.location.href = "/workflow/image.html?processInstanceId=" + $scope.leave.processInstanceId;
				}

				formatLeaveType = function(val) {
				    if (val == "SJ") {
				        return "事假";
				    } else if (val == "BJ") {
				        return "病假";
				    } else if (val == "HJ") {
				        return "婚假";
				    } else if (val == "CJ") {
				        return "产假";
				    }
				}

				$scope.openReview = function() {
					$scope.typePopup = $ionicPopup.show({
						title: "<strong>您的意见</strong>",
						templateUrl: "task_review.html",
						scope: $scope
					});
				}

				$scope.submitForm = function() {
					var message = "";

					if(isNullOrEmpty($scope.task.result)) {
						message += "请选择您的意见!<br/>";
					}

					if(! isNullOrEmpty(message)) {
						$ionicLoading.show({
							template: message,
					      	duration: WaitDelay
					    });

					    return;
					}

					$ionicLoading.show({
						template: "<ion-spinner icon=\"android\" class=\"spinner-light\"></ion-spinner>"
				    });

				    var url = "";

				    if($scope.leave.taskDefinitionKey == "XiaoZhangAudit") {
				    	url = "/api/leave/audit/xiaozhang";
					} else if($scope.leave.taskDefinitionKey == "JiaoWuChuAudit") {
				    	url = "/api/leave/audit/jiaowuchu";
				    }

				    if(isNullOrEmpty(url)) {
				    	return;
				    }

				    var isPass = false;
				    if($scope.task.result == "YES") {
				    	isPass = true;
				    }

					$http({
						method: "POST",
						url: url,
						headers: {
							"Content-Type": "application/json;charset=utf-8"
						},
						data: {
							objectId: getUrlParam("id"),
							processInstanceId: $scope.leave.processInstanceId,
							taskId: getUrlParam("taskId"),
							isPass: isPass
						}
					}).success(function(response) {
						if (response.result) {
							$ionicLoading.show({
								template: "提交成功!",
						      	duration: WaitDelay
						    });

							$timeout(function(){
								window.location.href = "webviewplus://" + encodeURIComponent("{\"action\":\"" + ActionSetBackAndRefresh + "\",\"data\":{}}");
						    }, WaitDelay);
						} else {
							$ionicLoading.show({
								template: response.message,
						      	duration: WaitDelay
						    });
						}
					});
				}

				$http({
					method: "POST",
					url: "/api/leave/find",
					headers: {
						"Content-Type": "application/json;charset=utf-8"
					},
					data: {
						id: getUrlParam("id")
					}
				}).success(function(response) {
					if (response.result) {
						$scope.leave = response.data;

						processInstanceId = $scope.leave.processInstanceId;

						$scope.leave.type = formatLeaveType($scope.leave.type);
					}

					$scope.loading = true;
				});
			})
			.filter('trustHtml', function ($sce) {
		        return function (input) {
		            return $sce.trustAsHtml(input);
		        }
		    });
	});
</script>