<!DOCTYPE html>
<html>

	<head>
		<title>上海市闸北区大宁国际学校</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" href="/css/amazeui.css">
		<link rel="stylesheet" href="/css/ionic.min.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>

	<body ng-app="App" ng-controller="MeetingDetailController" class="background-color-2">
		<div id="loading" ng-hide="loading">
	    	<div class="sk-wandering-cubes">
				<div class="sk-cube sk-cube1"></div>
				<div class="sk-cube sk-cube2"></div>
			</div>
		</div>

		<ion-content>
			<ion-list>
				<div class="am-g am-margin-top-sm">
					<ion-item class="item-input">
						密码
	    				<input type="password" style="text-align:right; padding-right: 50px;" ng-model="user.password">
					</ion-item>
					<ion-item class="item-input">
						确认密码
	    				<input type="password" style="text-align:right; padding-right: 50px;" ng-model="user.password2">
					</ion-item>
				</div>
			</ion-list>

			<div style="padding-left: 8px; padding-right: 8px;" class="am-g am-margin-top">
				<button type="button" class="am-btn am-btn-xs am-btn-primary am-btn-block" ng-click="submitForm()">确定</button>
			</div>
		</ion-content>
	</body>

</html>

<script src="/js/lazyload.js"></script>
<script>
	LazyLoad.js(["/js/ionic.bundle.min.js", "/js/angular-cookies.js", "/js/app.js"], function () {
		var app = angular.module("App", ["ionic", "ngCookies"])
			.controller("MeetingDetailController", function($scope, $http, $timeout, $ionicLoading, $cookieStore) {
				var userId = $cookieStore.get(CookieUserId);
				$scope.user = {};
				$scope.user.password = "";
				$scope.user.password2 = "";

				if(isApp) {
					window.location.href = "webviewplus://" + encodeURIComponent("{\"action\":\"" + ActionSetTitle + "\",\"data\":{\"text\":\"修改密码\"}}");
				}

				$scope.submitForm = function() {
					if($scope.user.password == "" || $scope.user.password2 == "") {
						$ionicLoading.show({
							template: "请填写完整!",
					      	duration: WaitDelay
					    });

						return;
					}

					if($scope.user.password != $scope.user.password2) {
						$ionicLoading.show({
							template: "密码不一致!",
					      	duration: WaitDelay
					    });

						return;
					}

					$ionicLoading.show({
						template: "<ion-spinner icon=\"android\" class=\"spinner-light\"></ion-spinner>"
				    });

					$http({
						method: "POST",
						url: "/api/user/changepassword",
						headers: {
							"Content-Type": "application/json;charset=utf-8"
						},
						data: {
							id: userId,
							password: $scope.user.password
						}
					}).success(function(response) {
						if (response.result) {
							$ionicLoading.show({
								template: "提交成功!",
						      	duration: WaitDelay
						    });

							$timeout(function(){
								window.location.href = "webviewplus://" + encodeURIComponent("{\"action\":\"" + ActionSetBackAndRefresh + "\",\"data\":{}}");
						    }, WaitDelay);
						} else {
							$ionicLoading.show({
								template: response.message,
						      	duration: WaitDelay
						    });
						}
					});
				}

				getSetting = function(payload) {
					userId = payload.appUserId;

					$cookieStore.put(CookieUserId, payload.appUserId);

					$scope.loading = true;
				}

				if(isNullOrEmpty(userId)) {
					$timeout(function(){
						window.location.href = "webviewplus://" + encodeURIComponent("{\"action\":\"" + ActionGetSetting + "\",\"data\":{}}");
				    }, 1);
				} else {
					$scope.loading = true;
				}
			})
			.filter('trustHtml', function ($sce) {
		        return function (input) {
		            return $sce.trustAsHtml(input);
		        }
		    });
	});
</script>