@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(/font/MaterialIcons-Regular.ttf), url(/font/MaterialIcons-Regular.woff2), url(/font/MaterialIcons-Regular.woff);
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
body {
	background-color: #f6f5f3;
}

/************End Global**************/
/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  padding-bottom: 0em;
  position: relative; }


/* Individual Timeline Item */
.tl-node {
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative; }
  .tl-node a {
    display: block; }
  .tl-node:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    border: 5px solid #dddddd; }

/* Timestamp */
.tl-stamp {
  font-size: 14px;
  color: gray; }

/************End Timeline**************/


