<!DOCTYPE html>
<html>

<head>
    <title>上海市闸北区大宁国际学校</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/onsenui.css">
    <link rel="stylesheet" href="/css/onsen-css-components.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/onsenui.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-onsenui.min.js"></script>
</head>

<body ng-app="App" ng-controller="Controller">
    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <div class="button-bar" style="width:280px;margin:0 auto;">
                <div class="button-bar__item" ng-click="clickTab(true);">
                    <input type="radio" name="segment-a" checked>
                    <button class="button-bar__button">待我审核</button>
                </div>
                <div class="button-bar__item" ng-click="clickTab(false);">
                    <input type="radio" name="segment-a">
                    <button class="button-bar__button">我已审核</button>
                </div>
            </div>
        </div>
    </div>
    <ons-list ng-show="isActive">
        <ons-list-item modifier="tappable" style="padding: 15px 0px 15px 15px;">
			<div style="line-height:25px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical;">
				钟永强的请假
			</div>
			<div style="line-height:25px; margin-top:5px; opacity:0.5;">
				待审核
				<span style="position:absolute; right:15px;">2015-12-25</span>
			</div>
		</ons-list-item>
    </ons-list>
    <ons-list ng-show="!isActive">
        <ons-list-item modifier="tappable" style="padding: 15px 0px 15px 15px;">
			<div style="line-height:25px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical;">
				钟永强的请假
			</div>
			<div style="line-height:25px; margin-top:5px; opacity:0.5;">
				审核完成（同意）
				<span style="position:absolute; right:15px;">2015-12-25</span>
			</div>
		</ons-list-item>
        <ons-list-item modifier="tappable" style="padding: 15px 0px 15px 15px;">
			<div style="line-height:25px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical;">
				钟永强的请假
			</div>
			<div style="line-height:25px; margin-top:5px; opacity:0.5;">
				审核完成（同意）
				<span style="position:absolute; right:15px;">2015-12-25</span>
			</div>
		</ons-list-item>
        <ons-list-item modifier="tappable" style="padding: 15px 0px 15px 15px;">
			<div style="line-height:25px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical;">
				钟永强的请假
			</div>
			<div style="line-height:25px; margin-top:5px; opacity:0.5;">
				审核完成（同意）
				<span style="position:absolute; right:15px;">2015-12-25</span>
			</div>
		</ons-list-item>
    </ons-list>
</body>

</html>
<script>
(function() {
    angular.module('App', ['onsen'])
        .controller('Controller', function($scope, $timeout) {
			$scope.isActive = true;

			$scope.clickTab = function(result) {
				$scope.isActive = result;
			}
        });
})();
</script>
